<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss} %-5p] %c %n 【%m】%n%n" />
		</layout>
	</appender>
	
	<appender name="out" class="org.apache.log4j.DailyRollingFileAppender">       
        <param name="File" value="./logs/out.log" />         
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />         
        <layout class="org.apache.log4j.PatternLayout">       
         <param name="ConversionPattern"         
            value="[%d{yyyy-MM-dd HH:mm:ss} %-5p] [%t] %c{3\} - %m%n" />       
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="debug" />
            <param name="LevelMin" value="INFO" />
        </filter>      
    </appender>
    
	<logger name="org.inchain">
		<level value="debug" />
	</logger>

 	<!-- Root Logger -->
	<root>
		<priority value="INFO" />
		
		<appender-ref ref="console" />
		<appender-ref ref="out" />
	</root>
  
</log4j:configuration>
