#root {
	-fx-background-image: url("/images/default_bg.png");
	-fx-background-repeat: repeat;
	-fx-background-size: cover;
}

.decoration-root {
    -fx-fill: null; /* avoid mouse events in the middle*/
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-insets: 0;
}

.decoration-button-menu {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image: url("/images/icon.png");
    -fx-background-repeat: repeat;
	-fx-background-size: cover;
}

.decoration-button-menu:hover {
    -fx-background-color: null;
    -fx-background-image: url("menu-hover.png");
    -fx-background-repeat: no-repeat;
	-fx-background-size: cover;
}

.utility .decoration-button-menu {
    -fx-background-size: stretch;
}

.utility .decoration-button-menu:hover {
    -fx-background-size: stretch;
}

.decoration-button-fullscreen {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image: url("fullscreen.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.decoration-button-fullscreen:hover {
    -fx-background-color: null;
    -fx-background-image: url("fullscreen-hover.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.decoration-button-unfullscreen {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image: url("unfullscreen.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.decoration-button-unfullscreen:hover {
    -fx-background-color: null;
    -fx-background-image: url("unfullscreen-hover.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.decoration-button-iconified {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image: url("iconified.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.decoration-button-iconified:hover {
    -fx-background-color: null;
    -fx-background-image: url("iconified-hover.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.decoration-button-maximize {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image: url("maximize.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.decoration-button-maximize:hover {
    -fx-background-color: null;
    -fx-background-image: url("maximize-hover.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.decoration-button-restore {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image: url("restore.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.decoration-button-restore:hover {
    -fx-background-color: null;
    -fx-background-image: url("restore-hover.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.decoration-button-close {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image: url("close.png");
    -fx-background-repeat: no-repeat;
}

.decoration-button-close:hover {
    -fx-background-color: null;
    -fx-background-image: url("close-hover.png");
    -fx-background-repeat: no-repeat;
}

.utility .decoration-button-close {
    -fx-background-size: stretch;
}

.utility .decoration-button-close:hover {
    -fx-background-size: stretch;
}

.decoration-button-resize {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image: url("resizeSE.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right bottom;
}

.decoration-label-titlebar {
}