#infoItem{
	-fx-border-color: transparent transparent #6da9e9 transparent;
}

Button{
	-fx-background-radius: 2;
	-fx-border-color:#6585dc;
    -fx-background-color: #4b6bc1;
    -fx-text-fill: WHITE;
    -fx-font-name:Microsoft YaHei;
    -fx-font-size:14;
    -fx-alignment:BASELINE_CENTER;
}

Button:hover{
	-fx-border-color:#506fc3;
	-fx-background-color: #3b5aac;
}

.lockMoneyButton {
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image:url("/images/icon_lock_money.png");
}

.lockMoneyButton:hover {
    -fx-background-image:url("/images/icon_lock_money_hover.png");
}

.encryptWalletButton {
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image:url("/images/icon_encrypt.png");
}

.encryptWalletButton:hover {
    -fx-background-image:url("/images/icon_encrypt_hover.png");
}

.setAliasButton {
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image:url("/images/changepassword_icon.png");
}

.setAliasButton:hover {
    -fx-background-image:url("/images/changepasswordH_icon.png");
}

.cancelButton {
	-fx-background-radius: 0;
	-fx-border-color: transparent;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("/images/cancel_icon.png");
}
.cancelButton:hover {
    -fx-background-image:url("/images/cancelH_icon.png");
}
.alias {
	-fx-text-fill:WHITE;
	-fx-background-radius: 0;
	-fx-border-color: transparent;
    -fx-background-color: null;
}
#input {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-text-fill:WHITE;
    -fx-font-name:Microsoft YaHei;
    -fx-border-color: transparent transparent #6da9e9 transparent;
}

#input TextField {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-text-fill:WHITE;
    -fx-font-name:Microsoft YaHei;
}