  
#sure{
	-fx-border-radius: 2px;
	-fx-background-color:#577cab;
}  
#cancel{
	-fx-border-radius: 2px;
	-fx-background-color:#577cab;
}
PasswordField{
	-fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
}
#Passworditem{
	-fx-background-image:url("/images/item_bg.png");
}