  
#sure{
	-fx-border-color:#6585dc;
	-fx-border-radius: 2;
	-fx-background-color:#4b6bc1;
}  
#sure:hover{
	-fx-border-color:#506fc3;
	-fx-background-color:#3b5aac;
}  
#cancel{
	-fx-border-color:#6585dc;
	-fx-border-radius: 2;
	-fx-background-color:#4b6bc1;
}
#cancel:hover{
	-fx-border-color:#506fc3;
	-fx-background-color:#3b5aac;
}  
PasswordField{
	-fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-text-fill:WHITE;
    -fx-font-name:Microsoft YaHei;
}
#Passworditem{
	-fx-border-color: transparent transparent #6da9e9 transparent;
}
.radio-button > .radio{
	 -fx-background-color: #6b82a1,#fff, #6b82a1,#6b82a1;
	 -fx-padding: 0.2em; 
}
.button:focused,
.toggle-button:focused,
.radio-button:focused > .radio {
	-fx-background-color:#fff,#6b82a1;
}
.radio-button:selected > .radio > .dot{
	-fx-background-color:#6b82a1,#fff, #6b82a1,#fff;
}
