.root {
	-fx-background-image:url("/images/dailog_bg.png");
	-fx-background-repeat: no-repeat;
    -fx-background-position: center;	
    -fx-background-size: cover;
}

Button{
	-fx-background-radius: 2;
	-fx-border-color:#6585dc;
    -fx-background-color: #4b6bc1;
    -fx-text-fill:WHITE;
    -fx-font-name:Microsoft YaHei;
    -fx-font-size:14;
    -fx-alignment:BASELINE_CENTER;
}

Button:hover{
	-fx-border-color:#506fc3;
	-fx-background-color: #3b5aac;
}

Label{
	-fx-text-fill:WHITE;
    -fx-font-name:Microsoft YaHei;
    -fx-font-size:14;
}