.table-row-cell {
    -fx-cell-size: 48px;
}
Button{
	-fx-background-radius: 3;
    -fx-border-style: null;
    -fx-background-color: #34538b;
    -fx-text-fill:WHITE;
    -fx-font-name:Microsoft YaHei;
    -fx-font-size:14;
    -fx-alignment:BASELINE_CENTER;
}
Button:hover{
	 -fx-background-color: #5070aa;
}