.Dailogdecoration{
	-fx-background-image: url("/images/popup_bg.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;	
    -fx-background-size: cover;
}

#close {
	-fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image: url("/images/close.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#close:hover {
    -fx-background-color: null;
    -fx-background-image: url("/images/closeH.png");
    -fx-background-repeat: no-repeat;
}