.Dailogdecoration{
	-fx-background-image: url("/images/popup_bg.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;	
    -fx-background-size: cover;
}

#close {
	-fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image: url("/images/Dailogclose.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#close:hover {
    -fx-background-color: null;
    -fx-background-image: url("/images/dailogCloseHL_bg.png");
    -fx-background-repeat: no-repeat;
}
Label{
	-fx-text-fill:WHITE;
    -fx-font-name:Microsoft YaHei;
    -fx-font-size:14;
    -fx-padding:0 0 10 20;
}
.title{
	-fx-padding:0;
}
