.root{
	-fx-background-image: url("/images/default_bg.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;	
    -fx-background-size: cover;
}
#headBar{
	-fx-background-image:url("/images/headBar.png");
	-fx-background-repeat: repeat;
	-fx-background-size: cover;
}
.root #menuId {
	-fx-background-image:url("/images/menu_bg.png");
}
.root #menuId Button{
	-fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-text-fill:WHITE;
    -fx-font-name:Microsoft YaHei;
    -fx-font-size:14;
    -fx-alignment:CENTER_LEFT;
    -fx-padding:0 0 0 48;
    -fx-border-color: transparent transparent #6da9e9 transparent;
}
.root #menuId  Button:hover{
	 -fx-background-color: #183556;
}
.root Label{
	-fx-text-fill:WHITE;
}
.copy-button{
	-fx-background-color:#34538b;
    -fx-font-name:Microsoft YaHei;
    -fx-font-size:12;
}
.copy-button:hover{
	-fx-background-color:#5070aa;
}
#decoration-button-iconified {
	-fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image: url("/images/iconified.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#decoration-button-iconified:hover {
    -fx-background-image: url("/images/iconifiedH.png");
}

#decoration-button-close {
	-fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image: url("/images/close.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#decoration-button-close:hover {
    -fx-background-image: url("/images/closeHL_bg.png");
}