.root{
	-fx-background-image: url("/images/default_bg.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;	
    -fx-background-size: cover;
}
#headBar{
	-fx-background-color: #264181;
}
.root #menuId {
	-fx-background-repeat: no-repeat;
    -fx-background-position: center;	
    -fx-background-size: cover;
	-fx-background-image:url("/images/menu_bg.png");
}
.root #menuId Button{
	-fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-text-fill:WHITE;
    -fx-font-name:Microsoft YaHei;
    -fx-font-size:14;
    -fx-alignment:CENTER_LEFT;
    -fx-padding:0 0 0 48;
    -fx-border-color: transparent transparent #4261b3 transparent;
}
.root #menuId  Button:hover{
	 -fx-background-color: #1e3c89;
}
.root Label{
	-fx-text-fill:WHITE;
}
.copy-button{
	-fx-border-color:#6585dc;
    -fx-background-color: #4b6bc1;
    -fx-font-name:Microsoft YaHei;
    -fx-font-size:12;
}
.copy-button:hover{
	-fx-border-color:#506fc3;
	-fx-background-color: #3b5aac;
}
#decoration-button-iconified {
	-fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image: url("/images/iconified.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#decoration-button-iconified:hover {
    -fx-background-image: url("/images/iconifiedH.png");
}

#decoration-button-close {
	-fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image: url("/images/close.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#decoration-button-close:hover {
    -fx-background-image: url("/images/closeHL_bg.png");
}