#infoItem{
	-fx-border-color: transparent transparent #6da9e9 transparent;
}

Button{
	-fx-background-radius: 3;
    -fx-border-style: null;
    -fx-background-color: #34538b;
    -fx-text-fill:WHITE;
    -fx-font-name:Microsoft YaHei;
    -fx-font-size:14;
    -fx-alignment:BASELINE_CENTER;
}
Button:hover{
	 -fx-background-color: #5070aa;
}
TextField{
	-fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-text-fill:WHITE;
    -fx-font-name:Microsoft YaHei;
    -fx-font-size:14;
}

Label{
	-fx-text-fill:WHITE;
    -fx-font-name:Microsoft YaHei;
    -fx-font-size:14;
}