#infoItem{
	-fx-border-color: transparent transparent #6da9e9 transparent;
}

Button{
	-fx-background-radius: 2;
	-fx-border-color:#6585dc;
    -fx-background-color: #4b6bc1;
    -fx-text-fill:WHITE;
    -fx-font-name:Microsoft YaHei;
    -fx-font-size:14;
    -fx-alignment:BASELINE_CENTER;
}

Button:hover{
	-fx-border-color:#506fc3;
	-fx-background-color: #3b5aac;
}

TextField {
	-fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-text-fill:WHITE;
    -fx-font-name:Microsoft YaHei;
    -fx-font-size:14;
}
.remark {
	-fx-background-radius: 0;
    -fx-border-style: none;
    -fx-background-color: null;
    -fx-text-fill:WHITE;
    -fx-font-name:Microsoft YaHei;
    -fx-font-size:14;
    -fx-alignment:BASELINE_CENTER;
}

Label{
	-fx-text-fill:WHITE;
    -fx-font-name:Microsoft YaHei;
    -fx-font-size:14;
}