#infoItem {
	-fx-border-color: transparent transparent #6da9e9 transparent;
}

Button {
	-fx-background-radius: 2;
	-fx-border-color: #6585dc;
	-fx-background-color: #4b6bc1;
	-fx-text-fill: WHITE;
	-fx-font-name: Microsoft YaHei;
	-fx-font-size: 14;
	-fx-alignment: BASELINE_CENTER;
}

Button:hover {
	-fx-border-color: #506fc3;
	-fx-background-color: #3b5aac;
}

TextField {
	-fx-background-radius: 0;
	-fx-border-style: null;
	-fx-background-color: null;
	-fx-text-fill: WHITE;
	-fx-font-name: Microsoft YaHei;
	-fx-font-size: 14;
}

.remark {
	-fx-background-radius: 0;
	-fx-border-style: none;
	-fx-background-color: null;
	-fx-text-fill: WHITE;
	-fx-font-name: Microsoft YaHei;
	-fx-font-size: 14;
	-fx-alignment: BASELINE_CENTER;
}

Label {
	-fx-text-fill: WHITE;
	-fx-font-name: Microsoft YaHei;
	-fx-font-size: 14;
}

.text-area>.scroll-pane>.scroll-bar:horizontal {
	-fx-background-color: null;
	-fx-background-radius: 0 0 0 0;
}

.text-area>.scroll-pane>.scroll-bar:vertical {
	-fx-background-color: null;
	-fx-background-radius: 0 0 0 0;
}

.text-area>.scroll-pane>.corner {
	-fx-background-color: null;
	-fx-background-radius: 0 0 0 0;
}

.text-area>.scroll-pane>.thumb {
	-fx-background-color: null;
}

.text-area>.scroll-pane>.track {
	-fx-background-color: null;
}

.text-area>.scroll-pane:vertical .track {
	-fx-background-color: null;
}

/** CSS **/

/* The main scrollbar CSS class of ListView */
.text-area .scroll-bar:horizontal, .text-area  .scroll-bar:vertical {
	-fx-background-color: transparent;
}

/* The increment and decrement button CSS class of scrollbar */
.text-area .increment-button, .text-area .decrement-button {
	-fx-background-color: transparent;
}
/* The main scrollbar **track** CSS class  */
.text-area .scroll-bar:horizontal .track, .text-area .scroll-bar:vertical .track
	{
	-fx-background-color: transparent;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.text-area .scroll-bar:horizontal .thumb, .text-area .scroll-bar:vertical .thumb
	{
	-fx-background-color: transparent;
}

/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */
.text-area .scroll-bar:horizontal:hover .track, .text-area .scroll-bar:horizontal:pressed .track,
	.text-area .scroll-bar:vertical:hover .track, .text-area .scroll-bar:vertical:pressed .track
	{
	-fx-background-color: transparent;
}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
.text-area .scroll-bar .thumb:hover, .text-area .scroll-bar .thumb:pressed
	{
	-fx-background-color: transparent;
}

.text-area .increment-button:hover, .text-area .decrement-button:hover {
	-fx-background-color: transparent;
}
/* The increment and decrement button CSS class of scrollbar */
.text-area .scroll-bar:vertical .increment-button, .text-area .scroll-bar:vertical .decrement-button {
	-fx-background-color: transparent;
}
.text-area .scroll-bar .increment-arrow,
.text-area .scroll-bar .decrement-arrow {
	-fx-background-color:transparent;  
	-fx-padding:0;	
}