.root-pane {
}
.mnemonic-area *.text {
    -fx-text-alignment: center;
}

.title-banner {
    -fx-background-color: #ffff;
}

.title-label {
    -fx-background-color: darkseagreen;
    -fx-text-fill: white;
}

.info-bar {
    -fx-background-color: linear-gradient(to bottom, black, darkslategray);
    -fx-padding: 10;
}
.info-bar > Label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.info-bar > .progress-bar > .bar {
    -fx-padding: 8;
}
.info-bar > .progress-bar > .track {
    -fx-opacity: 0.0;
}


.fat-button {
    -fx-padding: 10 15 10 15;
    -fx-min-width: 100;
    -fx-base: whitesmoke;
}

.fat-button:default {
    -fx-base: orange;
    -fx-text-fill: white;
}

.fat-button:cancel {
    -fx-background-color: lightgray, white;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3;
    -fx-text-fill: black;
}

.fat-button:cancel:hover {
    -fx-base: white;
    -fx-background-insets: -1, 0, 1, 2;
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 3;
    -fx-text-fill: black;
}

.text-area {
	-fx-text-fill: #fff;
    -fx-background-color: transparent;
    -fx-border-color: #6da9e9;
    -fx-border-radius: 3;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}